<%- include ('_partial_header.ejs', {title: title}) %>

<ul class="container-links">
  <li><a href="http://localhost:3002/new_index">New Index</a></li>
  <li><a href="http://localhost:3002/add_document">Add Document</a></li>
  <li><a href="http://localhost:3002/query">Query</a></li>
  <li><a href="http://localhost:3002/update">Update</a></li>
  <li><a href="http://localhost:3002/delete_index">Delete Index</a></li>
</ul>

<%- include ('_partial_footer.ejs') %>
