<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> -  Express with ElasticSearch</title>
</head>
<body>
    <div class="container">
        <h1 class="app-name">Express with ElasticSearch</h1>
        <h2 class="title"><%= title%></h2>
        <form action="http://localhost:3002/" method="POST">
          <legend>Query</legend>
          <div class="form-group">
            <input type="password" name="password" value="" placeholder="New password" id="password" autofocus="autofocus" class="form-control"/>
          </div>
          <div class="form-group">
            <input type="password" name="confirm" value="" placeholder="Confirm password" id="confirm" class="form-control"/>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Go</button>
          </div>
        </form>
    </div>
</body>
</html>