<%- include('_partial_header.ejs',{title: title}) %>
<script>
    var values = ['Taiwan NO.1', '可撥', '是在哈囉', '最好不要旋轉我','阿薩不魯' ,'臭奶呆', '辣個男人', '芒果乾', '你當我塑膠喔'];
    function addBodyField(){
        var hiddenCount = document.getElementById('count-anchor');
        var count = parseInt(hiddenCount.innerText)
        var newPair = document.getElementById(`body-${count}`).cloneNode(true);
        newPair.setAttribute('id', `body-${count+1}`)
        newPair.querySelector('span.count').innerText = count+1;

        var k = newPair.querySelector(`#k-${count}`)
        k.setAttribute('id',`k-${count+1}`)
        k.setAttribute('name',`new_document[body][${count+1}]`)
        k.setAttribute('value',`field_${count+1}`)

        var v = newPair.querySelector(`#v-${count}`)
        v.setAttribute('id',`v-${count+1}`)
        v.setAttribute('name',`new_document[body][${count+1}]`)
        v.setAttribute('value',`${values[ Math.floor(Math.random()*values.length)]}`)

        var form = document.getElementById('form-add-document')
        hiddenCount.innerText = `${count+1}`;
        form.insertBefore(newPair, hiddenCount);
    }
    function remove(e){
      e.parentNode.parentNode.remove();
    }
</script>
<form action="/add_document" method="post" id="form-add-document">
    <div class="input-pair">
      <label for="dev">Show Input Only?</label>
      <input type="checkbox" name="new_document[dev]" value="true">
    </div>

    <hr />

    <div class="input-pair">
      <label for="index">Index</label>
      <input type="text" name="new_document[index]" placeholder="Index Name" value="articles">
    </div>

    <div class="input-pair">
      <label for="id">ID(optional)</label>
      <input type="text" name="new_document[id]"  placeholder="ID (optional)" value="1">
    </div>

    <div class="input-pair">
      <label for="type">Type(未來不支援)</label>
      <input type="text" name="new_document[type]" placeholder="Type (optional)" value="article">
    </div>


    <div class="input-pair" id="body-0">
        <label for="type">Body</label>
        <div class="wrap-key-value">
          <span class="count">0</span>
          <input type="text" id="k-0" name="new_document[body][0]" placeholder="key" value="user_id">
          <input type="text" id="v-0" name="new_document[body][0]" placeholder="value" value="21659">
          <span class="delete" style="color:brown; cursor: pointer" onclick="remove(this)">X</span>
        </div>
    </div>

    <div class="input-pair" id="body-1">
      <label for="type">Body</label>
      <div class="wrap-key-value">
        <span class="count">1</span>
        <input type="text" id="k-1" name="new_document[body][1]" placeholder="key" value="title">
        <input type="text" id="v-1" name="new_document[body][1]" placeholder="value" value="顆顆亞洲亂幹阿翔">
          <span class="delete" style="color:brown; cursor: pointer" onclick="remove(this)">X</span>
      </div>
    </div>

    <div class="input-pair" id="body-2">
      <label for="type">Body</label>
      <div class="wrap-key-value">
        <span class="count">2</span>
        <input type="text" id="k-2" name="new_document[body][2]" placeholder="key" value="content">
        <input type="text" id="v-2" name="new_document[body][2]" placeholder="value" value="他到底睡過多少人R還有多少明星也是很愛睡？">
          <span class="delete" style="color:brown; cursor: pointer" onclick="remove(this)">X</span>
      </div>
    </div>

    <span id="count-anchor" style="display: none;">0</span>
    <div class="input-pair">
        <label for="type">Add Field</label>
        <span id="add-body-field" onclick="addBodyField()">+</span>
    </div>
    <button type="submit" id="form-submit" form="form-add-document">ADD</button>
</form>

<%- include('_partial_footer.ejs') %>